<%-include('nav.ejs')%>
 <form action="/admin/save_key" method="post" enctype="multipart/form-data">
    <div class="container-fluid bg-white p-3 border"> 
        <h3 class="mb-3 text-info"> Edit Key Point </h3>
          <div class="row">
            <input type="hidden" name="key_points_id" class="form-control" value="<%=keys[0].key_points_id%>">
            <div class="col-md-8 mb-4">
                 Enter Key Point
                 <input type="text" class="form-control"  name="key_point"  value="<%=keys[0].key_point%>">
            </div>  
            <div class="col-12 mt-4">
                <button class="btn btn-primary float-right">SAVE KEY</button>
             </div>
             </div>
        </div>
    </form>
    <br><br>

    <%-include('footer.ejs')%>
